.nav .active a {
  color: red;
}
.tab-pane {
  display: none;
}
.tab-pane.active {
  display: block;
}

@media (min-width: 320px) {
  body {
    background: url("https://goo.gl/XBkl5C");
    background-size: 100%;
  }
  h1 {
    padding-top:2.5em;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 5.5em;
  }
  form {
    text-align: center;
  }
  input {
    padding: 1em;
    padding-left: 8em;
    margin-right: 2em;
  }
  button {
    padding: 1em;
    border-radius: 30%;
  }
  .tabBar {
    display: inline-block;
    width: 100%;
    padding-top: 3em;
    padding-bottom: 3em;
    margin-left: -19em;
  }
  ul {
    float: right;
  }
	li {
  	float: left;
  	list-style-type: none;
    padding-right: 3em;
	}
  li a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.5em;
    color: white;
    text-align: center !important;
  }
}
