/*stylying for tabs */
.nav .active a {
  background-color: rgba(187, 162,179,0.5);
  font-weight: 700;
}
.tab-pane {
  display: none;
}
.tab-pane.active {
  display: block;
}


.instaphotos{
  width: 25%;
  height: 28%;
  float: left;
  position: relative;
  margin: 0.75em;
  /*background: rgba(255, 255, 255, 0.5);*/
}
/*styling for background image */
img{
 width: 100%;
 height: 100%;
}
/*background image */
body {
  background: url("https://images.unsplash.com/uploads/14116941824817ba1f28e/78c8dff1?q=80&fm=jpg&s=5600be7f06b56681c56f55c787128538");
  background-size: 100%;
}

#guardian {
  background: rgba(255, 255, 255, 0.4);
  padding: 1em;
}
.aUnit {
  text-decoration: none;
  font-family: sans-serif;
  margin-top: 1em;
  color: black;
}
.aUnit:hover {
  color: white;
}
.guardArticle {
  margin-top: 0.6em;
}

  h1 {
    padding-top:0.5em;
    padding-bottom: 0.5em;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 2em;
    font-weight: lighter;
  }

  form {
    text-align: center;
  }
  input {
    padding: 0.5em;
    padding-left: 3em;
    margin-right: 1em;
    background-color: rgba(187, 162,179,0.5);
    border-radius: 5%;
    font-size: 1.1em;
    font-family: sans-serif;
    font-weight: 600;
    border: 0;
  }
  button {
    padding: 0.5em;
    border-radius: 5%;
    background-color: rgb(187, 162,179);
    font-family:sans-serif;
    border: 0;
    padding: 0.5em;
    margin-right: 1em;
  }

/*tabs styling */
.tabBar {
  width: 100%;
  padding-top: 3em;
  padding-bottom: 3em;
}

ul {
  padding: 0;
}

li {
	/*float: left;*/
  display: inline-block;
	list-style-type: none;
  padding-right: 3em;
  /*margin: 0 auto;*/
}

li a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1.5em;
  color: white;
  padding: 5%;
  border-radius: 5%;
  background-color: rgba(4, 3, 38, 0.5)
  font-weight:100;
  text-align: center !important;
}

#nav-tab {
  display: none;
}
