.nav .active a { color: red; }
.tab-pane { display: none; }
.tab-pane.active { display: block; }

@media (min-width: 320px) {
  .header {
    background: url("https://images.unsplash.com/uploads/14116941824817ba1f28e/78c8dff1?q=80&fm=jpg&s=5600be7f06b56681c56f55c787128538") no-repeat;
    background-size: 100%;
    height: 437px;
    width: 100%;
  }
  h1 {
    padding-top: 4em;
    margin: 0;
  }
  html {
    margin: 0;
    padding: 0;
  }
}


