@media (min-width: 320px) {
  body {
    background: url("https://goo.gl/XBkl5C");
    width: 50%;
  }

  h1 {
    color: white;
    text-align: center;
    display: inline-block;
  }
}





.nav .active a { color: red; }
.tab-pane { display: none; }
.tab-pane.active { display: block; }
